<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Common" version="0.1.220" targetFramework="portable-net45+win" />
  <package id="Core.Google.Auth" version="0.1.7" targetFramework="portable-net45+win" />
  <package id="Core.Shell" version="0.1.31" targetFramework="portable-net45+win" />
  <package id="Google.Apis" version="1.9.1" targetFramework="portable-net45+win" />
  <package id="Google.Apis.Auth" version="1.9.1" targetFramework="portable-net45+win" />
  <package id="Google.Apis.Core" version="1.9.1" targetFramework="portable-net45+win" />
  <package id="Google.Apis.Plus.v1" version="1.9.0.2230" targetFramework="portable-net45+win" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="portable-net45+win" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="portable-net45+win" />
  <package id="Google.GData.Photos" version="2.2.0.0" targetFramework="portable-net45+win" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win" />
  <package id="Mono.Options-PCL" version="2.0.40" targetFramework="portable-net45+win" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-net45+win" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="portable-net45+win" />
</packages>